*{
    font-family: "Montserrat", sans-serif;
}

body{
    margin: 0;
}
.contenedor-tarjeta{
    background-color: hsl(30, 38%, 92%) ;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.tarjeta{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    width: 680px;
    min-height: 500px;
}



.tarjeta-imagen{
    background-image: url('/images/image-product-desktop.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px 0 0 10px;
}


.filtro-imagen{
    background-color: rgba(0, 0, 0, 0.1);
    width:100%;
    height: 100%;
    border-radius: 10px 0 0 10px;

}
.tarjeta-informacion{ padding: 35px;}

.tarjeta-producto{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 20px;
    color: hsl(228, 12%, 48%);
    letter-spacing: 5px;
}
.tarjeta-titulo{
    margin: 0;
    font-size: 38px;
    line-height: 1;
    font-family: 'Fraunces', serif;
}
.tarjeta-descripcion{
    line-height: 1.8;
    color: hsl(228, 12%, 48%); 
    font-weight: 500;
}

.precio{
    display: flex;
   align-items: center;
   
}

.precio-actual{
    color: hsl(158, 36%, 37%);
    font-weight: bold;
    font-size: 35px;
    margin: 0;
    margin-right: 20px;
    font-family: 'Fraunces', serif;
}
.precio-anterior{
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
}

.btn-addCart{
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 60px;
    background-color: hsl(158, 36%, 37%);
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
    border: none;
    font-size: 16px;
    justify-content: center;
    align-items: center;


}

.btn-addCart:hover{
    background-color:  hsl(158, 36%, 27%) ;
    cursor: pointer;

}
.btn-addCart img{
    margin-right: 10px;
    height: 18px;
    
}

@media screen and (max-width : 700px) {
    .tarjeta{
        height: 600px;
        grid-template-columns: 1fr;
        grid-template-rows: 30% 70%;
    }
    
    .tarjeta-imagen{
        background-image: url('/images/image-product-mobile.jpg');
    background-position: center top;
        border-radius: 10px 10PX 0 0;

    }
    
    .tarjeta-informacion{ padding: 20px;}

.filtro-imagen{
    border-radius: 10px 10PX 0 0;

}

.btn-addCart{
    height: 45px;

}

.tarjeta-titulo{
    font-size: 34px;
}
}